* body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: auto;
    padding: 15px;
    background: white;
    text-align: center;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 6px;
}


button {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#deposit {
  background: green;
}

#withdraw {
  background: red;
}

